body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  -webkit-text-size-adjust: 100%;
  /* Prevent font scaling in landscape while allowing user zoom */
}
a {
  text-decoration: none;
  color: inherit;
  cursor: default;
}
.left {
  float: left;
}
.right {
  float: right;
}
.hide {
  display: none !important;
}
body,
input,
textarea,
select {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #333333;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.45;
  margin: 20px 0;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
section[class^="layout-"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
[data-menu] {
  display: none;
}
[data-menu].active {
  display: block;
}
[data-menu-button].active {
  background: rgba(0, 0, 0, 0.7);
  color: #55bbff;
}
section.layout-menu {
  top: 50px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #eeeeee;
  z-index: 3;
}
section.layout-menu .button.disabled {
  color: #777777;
}
section.layout-menu .no-unread {
  text-align: center;
  line-height: 76px;
  font-size: 76px;
  margin-top: 76px;
  color: rgba(255, 255, 255, 0.3);
}
section.layout-menu section.layout-menu-content {
  overflow-y: auto;
}
section.layout-menu h1 {
  font-size: 14px;
  margin: 0;
}
section.layout-menu h1,
section.layout-menu .item {
  padding: 16px 13px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
section.layout-menu .space {
  height: 76px;
}
section.layout-menu .item {
  display: block;
  box-sizing: border-box;
  min-height: 56px;
  cursor: default;
  overflow: hidden;
}
section.layout-menu .item .typcn {
  display: inline-block;
  font-size: 24px;
  line-height: 22px;
  vertical-align: -1px;
  width: 32px;
}
section.layout-menu .item .typcn:before {
  height: auto;
}
section.layout-menu .item:hover {
  background: rgba(255, 255, 255, 0.3);
}
section.layout-menu .item:active {
  background: rgba(255, 255, 255, 0.1);
}
section.layout-menu .item .image {
  box-sizing: border-box;
  display: inline-block;
  height: 43px;
  width: 43px;
  padding: 10px;
  line-height: 23px;
  font-size: 150%;
  background: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  float: left;
  background-size: cover;
  text-align: center;
}
section.layout-menu .item .image,
section.layout-menu .item .title,
section.layout-menu .item .subtitle {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
section.layout-menu .item .subtitle,
section.layout-menu .item .title {
  padding-left: 13px;
}
section.layout-menu .item .subtitle {
  color: #777777;
  padding-top: 4px;
  font-size: 14px;
}
section.layout-modal {
  background: rgba(255, 255, 255, 0.3);
  z-index: 4;
  display: none;
}
section.layout-modal.active {
  display: block;
}
section.layout-modal-content {
  box-shadow: 0 0 30px #000;
  overflow: auto;
  padding: 20px;
}
section.layout-modal-content *:first-child {
  margin-top: 0;
}
section.layout-modal-content *:last-child {
  margin-bottom: 0;
}
section.layout-modal-content {
  background-color: #ffffff;
  top: 60px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  border-radius: 2px;
}
section.layout-modal-content a {
  color: #55bbff;
}
section.layout-modal-content a:active {
  background: rgba(0, 0, 0, 0.2);
}
.button {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  min-width: 50px;
  padding: 0 0.5em;
  text-transform: uppercase;
  cursor: default;
  font-size: 24px;
}
.layout-modal .button {
  float: right;
  color: #777777;
  border-radius: 2px;
  margin: 20px 0;
}
.layout-modal .button.primary {
  color: #55bbff;
}
.button.typcn {
  padding: 0;
  line-height: 52px;
  width: 50px;
}
body.device-ios .button.typcn {
  line-height: 51px;
}
.button.typcn.typcn-mail {
  line-height: 48px;
}
.button.typcn::before {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  vertical-align: 4px;
  z-index: 1;
}
.button:active {
  background: rgba(0, 0, 0, 0.2);
}
.button.active {
  color: #55bbff;
  background-color: rgba(0, 0, 0, 0.7);
}
.button.disabled {
  color: #dddddd;
}
.counter {
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  line-height: 12px;
  text-align: center;
}
body.device-ios .counter {
  left: 1px;
  top: -3px;
}
.counter .value {
  margin: 0 auto;
  display: inline-block;
  padding: 5px 5px 4px;
  border-radius: 5px;
  width: auto;
  font-size: 12px;
  background: #a00;
  min-width: 9px;
  text-align: center;
  color: #fff;
}
section.layout-header {
  height: 50px;
  bottom: auto;
  background-color: rgba(0, 0, 0, 0.7);
  color: #eeeeee;
}
section.layout-main {
  padding: 50px 0 0;
  overflow: auto;
}
section.layout-hero {
  height: 150px;
  bottom: auto;
  background: #B3D1FF;
}
section.layout-toolbar {
  top: 150px;
  bottom: auto;
  height: 50px;
}
section.layout-area {
  padding-top: 150px;
  min-height: 100%;
  position: relative;
}
section.layout-content {
  top: 202px;
  padding: 10px;
  text-align: center;
  overflow: auto;
}
section.layout-toolbar,
section.layout-header {
  font-size: 24px;
}
section.layout-top,
section.layout-toolbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  overflow: visible;
}
.layout-content .item {
  display: none;
  font-size: 80px;
  color: #ccc;
}
.layout-content.display-grid .item {
  background: #f6f5f4;
  display: inline-block;
  margin: 10px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  min-height: 280px;
  max-height: 560px;
  overflow: auto;
  width: 280px;
}
.layout-content.display-list .item {
  display: block;
  margin: 10px 10px 0;
  padding-bottom: 10px;
  box-sizing: border-box;
  min-height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.layout-content.display-list .item:last-of-type {
  border-bottom: none;
}
section.layout-content-filter {
  left: 49px;
  right: 149px;
  overflow: visible;
}
#content-filter {
  position: absolute;
  border: none;
  margin: 0;
  padding: 9px 9px 9px 44px;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background: transparent;
  font-size: 18px;
  z-index: 2;
}
.layout-toolbar .button.right,
.layout-header .button.right {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.layout-toolbar .button.left,
.layout-header .button.left {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.layout-toolbar .button.left.typcn-zoom-outline,
.layout-header .button.left.typcn-zoom-outline {
  border-right: none;
}
body.content-maximize section.layout-content {
  top: 0;
}
body.content-maximize section.layout-area {
  padding-top: 0;
}
body.content-maximize section.layout-main {
  padding: 0;
  overflow: hidden;
}
body.content-maximize section.layout-header,
body.content-maximize section.layout-hero,
body.content-maximize section.layout-toolbar {
  display: none;
}
#content-minimize {
  font-size: 24px;
  display: none;
  position: fixed;
  right: 0px;
  top: -4px;
  padding: 0 0 15px 15px;
}
body.device-ios #content-minimize {
  top: -8px;
  right: -2px;
}
body.content-maximize #content-minimize {
  display: block;
}
