@heroSize: 150px;
@toolbarSize: @buttonSize;

.gpu() {
        
}

section.layout-header {
    height: @toolbarSize;
    bottom: auto;
    background-color: @darkGlassColor;
    color: @lightTextColor;
    z-index: 4;
}

section.layout-main {
    padding: @toolbarSize 0 0;
    overflow: auto;
}

section.layout-hero {
    height: @heroSize;
    bottom: auto;
    background: #B3D1FF;
}

section.layout-toolbar {
    top: @heroSize;
    bottom: auto;
    height: @toolbarSize;
}

section.layout-area {
    padding-top: @heroSize;
    min-height: 100%;
    position: relative;
}

section.layout-content {
    top: @heroSize + @toolbarSize + 2px;
    padding: 10px;
    text-align: center;
    overflow: auto;
}

section.layout-toolbar, section.layout-header {
    font-size: 24px;
}

section.layout-top, section.layout-toolbar {
    border-bottom: 1px solid @tintColor;
    border-top: 1px solid @tintColor;
    overflow: visible;
}

/**
 * All transitions here
 */
@time: 0.3s;

section.layout-menu {
    .gpu();

    &.active {
        opacity: 0;
        transition: opacity ease-out @time;
    }

    &.ready {
        height: 100%;
        opacity: 1;
    }
}

section.layout-modal {
    .gpu();

    &.active {
        opacity: 0;
        transition: opacity ease-out @time;
    }

    &.ready {
        opacity: 1;
    }
}

section.layout-menu-content {
    .gpu();

    transform: translate3d(0, -10px, 0);
    transition: transform ease-out @time;

    section.layout-menu.ready & {
        transform: translate3d(0, 0, 0);
    }
}

section.layout-modal-content {
    .gpu();

    transform: translate3d(0, 20px, 0) scale(0.95);
    transition: transform ease-out @time;

    section.layout-modal.ready & {
        transform: translate3d(0, 0, 0) scale(1);
    }
}
